* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  background-color: rgb(0, 118, 165);
}

input {
  padding-left: 10px;
  width: 160px;
  height: 40px;
  outline: none;
}

.app {
  background-color: rgb(0, 118, 165);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40%;
}

.app-container {
  margin-top: -40%;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: rgb(248, 247, 247);
  border-radius: 5px;
}
